//update the os first
sudo apt update

//install nginx server
sudo apt install nginx

//install curl
sudo apt install curl -y

//node version manager install
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash

//activate nvm
source ~/.bashrc

//install node with latest version
nvm install --lts

//install pm2 global
npm install pm2@latest -g

//now clone the project
git clone https://github.com/junaidtariq48/full-stack-app.git

//now install dep on both server and client goto each folder and run the command
sudo npm install

//after installing dependencies in client folder run the build command
sudo npm run build

//config nginx
//delete the default nginx site config file
sudo rm /etc/nginx/sites-available/default

//create a new one 
 sudo nano /etc/nginx/sites-available/default

//paste the below
server {
listen 80 default_server;
server_name _;

#Backend
location / {
  proxy_pass http://localhost:3000/; //change the port as per your server runing port
}
}


///now restart the nginx 
sudo systemctl restart nginx

// now goto your server folder and run the pm2 command so your server keep running even if you close the terminal
pm2 start "npm run prod" --name full-stack-app


